[Unit]
Documentation=man:postgres(1)

[Service]
Type=notify
User=postgres
ExecStart=/opt/pgcow/start.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0

[Install]
WantedBy=multi-user.target
